<div id="statQuery" flex>
    <form role="form">
        <div layout class="form-group col-md-5">
            <label class="radio-inline">
                日期范围
            </label>
            <div>
                <input datetimepicker="" flex dateID="date-start-time" ng-model="queryObj.startTime" timepicker="false" format="Y-m-d" class="form-control" required></input>
            </div>
            <div style="margin: 5px 10px 0 10px;"><span>到</span></div>
            <div>
                <input datetimepicker="" flex dateID="date-end-time" ng-model="queryObj.endTime" timepicker="false" format="Y-m-d" class="form-control" required></input>
            </div>
        </div>
        <div layout layout-align="end center" class="navbar-btn btn-xs text-right c-el-10">
            <button class="btn btn-primary" type="button" ng-click="getPage();">查&nbsp;&nbsp;询</button>
        </div>
    </form>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination ng-if="gridOptions"></div>
</div>