<div class="modal-header">
    <h4><span>数据字典组</span><span class="pull-right modal-container_close" ng-click="cancel()">✖</span></h4>
</div>
<form name="form" novalidate class="form-horizontal">
    <div class="modal-body">
        <div class="patient-in-modal-form-div">
            <div class="form-group" ng-if="item.type=='addGroup' || item.type=='editGroup'">
                <label for="beid" class="col-sm-4 control-label"><span class="red">*</span>局点名称：</label>
                <div class="col-sm-5">
                    <select class="form-control" name="beid" ng-options="item.beid as item.name for item in hospital" ng-model="obj.beid" required ng-disabled="item.row"></select>
                    <div class="form-error-info" ng-show="form.beid.$dirty && !form.beid.$valid"> <span>局点不能为空</span> </div>
                </div>
            </div>
            <div class="form-group" ng-if="item.type=='addGroup' || item.type=='editGroup'">
                <label for="groupId" class="col-sm-4 control-label"><span class="red">*</span>组编码：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="groupId" ng-model="obj.groupId" required maxlength="30" ng-disabled="item.row">
                    <div class="form-error-info" ng-show="form.groupId.$dirty && !form.groupId.$valid"> <span>组编码不能为空</span> </div>
                </div>
            </div>
            <div class="form-group" ng-if="item.type=='addGroup' || item.type=='editGroup'">
                <label for="groupName" class="col-sm-4 control-label"><span class="red">*</span>组名称：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="groupName" ng-model="obj.groupName" required maxlength="30">
                    <div class="form-error-info" ng-show="form.groupName.$dirty && !form.groupName.$valid"> <span>组名称不能为空</span> </div>
                </div>
            </div>
            <div class="form-group" ng-if="item.type=='addItem' || item.type=='editItem'">
                <label for="codeValue" class="col-sm-4 control-label"><span class="red">*</span>数据值：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="codeValue" ng-model="obj.codeValue" required maxlength="30">
                    <div class="form-error-info" ng-show="form.codeValue.$dirty && !form.codeValue.$valid"> <span>数据值不能为空</span> </div>
                </div>
            </div>
            <div class="form-group" ng-if="item.type=='addItem' || item.type=='editItem'">
                <label for="codeName" class="col-sm-4 control-label"><span class="red">*</span>展示文本：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="codeName" ng-model="obj.codeName" required maxlength="30">
                    <div class="form-error-info" ng-show="form.codeName.$dirty && !form.codeName.$valid"> <span>展示文本不能为空</span> </div>
                </div>
            </div>
            <div class="form-group" ng-if="item.type=='addItem' || item.type=='editItem'">
                <label for="order" class="col-sm-4 control-label"><span class="red">*</span>排序：</label>
                <div class="col-sm-5">
                    <select class="form-control" name="order" ng-options="item for item in orderArr" ng-model="obj.order"></select>
                </div>
            </div>
            <div class="form-group" ng-if="item.type=='addItem' || item.type=='editItem'">
                <label for="enable" class="col-sm-4 control-label">是否可用：</label>
                <div class="col-sm-5" style="padding-top: 2px;">
                    <label class="radio-inline">
                        <input type="radio" name="enable" ng-value="true" ng-model="obj.enable">启用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="enable" ng-value="false" ng-model="obj.enable">禁用
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="form.$invalid">确&nbsp;&nbsp;定</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取&nbsp;&nbsp;消</button>
</div>
