<div class="modal-header">    
    <h4><span>{{lable}}</span><span class="pull-right modal-container_close" ng-click="cancel()">✖</span></h4>
</div>
<div flex layout="column" id="oper">
    <form name="anaesMethod" class="panel panel-default" role="form" novalidate>
    	<div class="wrap" layout layout-wrap="wrap">
        	<div flex="90" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>麻醉方法名</label>
                    <input flex type="text" name="name" class="form-control" ng-model="AnaesMethod.name" ng-maxlength="30" ng-blur="_name = true" required>
                </div>
                <p ng-if="!AnaesMethod.name && (_name || verify == false)" class="help-block text-right">麻醉方法名不能为空</p>
                <p ng-if="anaesMethod.name.$error.maxlength && _name" class="help-block text-right">长度不能超过30个字符</p>
            </div>
        	<div flex="90" class="input-wrap">
        		<div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>类&nbsp;&nbsp;&nbsp;别</label>
                    <select flex name="anesType" class="form-control" ng-model="AnaesMethod.anesType" ng-blur="_anesType = true" required>
                        <option ng-repeat='item in anesTypeList' ng-value="item.codeValue">{{item.codeName}}</option>
                    </select>
                </div>
                <p ng-if="!AnaesMethod.anesType && (_anesType || verify == false)" class="help-block text-right">类别不能为空</p>
        	</div>
            <div flex="90" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>是否有效</label>
                    <select flex name="isValid" class="form-control" ng-model="AnaesMethod.isValid" ng-blur="_isValid = true" required>
                        <option ng-value="1">启用</option>
                        <option ng-value="0">禁用</option>
                    </select>
                </div>
                <p ng-if="(AnaesMethod.isValid == undefined) && (_isValid || verify == false)" class="help-block text-right">状态不能为空</p>
            </div>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-primary" ng-click="btnActive && saveAnaesMethod()">保&nbsp;&nbsp;存</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">取&nbsp;&nbsp;消</button>
        </div>
    </form>
</div>