<div flex>
	<div layout flex style="height: 305px;margin-bottom:10px;border:1px solid #ccc">
	    <div layout="column" flex="40">
	        <!-- <div class="pie" style="animation-delay: -20s;">　</div> -->
	        <!-- <canvas id="pie" class="chart chart-pie chart-xs" chart-data="{{[20, 80]}}" chart-labels="{{['2x', '8x']}}"></canvas> -->
	        <div e-chart class="echarts" e-config="eConfig" e-option="eOption"></div>
	    </div>
	    <div layout="column" flex="60">
	        <div style="margin-top:40px;padding-left: 35px;"><i class="glyphicon glyphicon-asterisk"></i> 说明:麻醉开始后24小时内死亡患者数占同期麻醉患者总数的比例。患者死亡原因包括患者本身病情严重、手术、麻醉以及其它任何因素。
	        </div>
	        <div  style="margin-top:20px;">
	        <div layout flex>
	            <div layout="column" layout-align="center end" flex="25">
	                <span style="padding-top:2px;white-space:nowrap;">麻醉开始后24小时内死亡率 &nbsp;&nbsp;=</span>
	            </div>
	            <div layout="column" layout-align="center center"  flex="35">
		            <div layout="column">
		                <div  style="white-space:nowrap;">
		                    麻醉开始后24小时内死亡患者数（{{OperByDeath24.OperByDeath24Num}}）
		                </div>
		                <div>
		                    <hr style="height:1px;background-color:#777;">
		                </div>
		                <div  style="white-space:nowrap;">
		                    同期麻醉患者总数（{{OperByDeath24.operTotal}}）
		                </div>
	                </div>
	            </div>
	            <div layout="column" layout-align="center start" flex="10">
	                <span style="white-space:nowrap;"> &nbsp;&nbsp;x 100% &nbsp;&nbsp; = &nbsp;&nbsp;{{OperByDeath24.rate}}%</span>
	            </div>
	        </div>
	        </div>
	    </div>	    
	</div>

	<div class="text-right" style="padding:10px 0;">
	    <button class="btn btn-primary" type="button" ng-click="export('gridApiOperByDeath24top');">导&nbsp;&nbsp;出</button>
	</div>

    <div ui-grid="gridOptionsOperByDeath24top" ui-grid-auto-resize ui-grid-exporter ui-grid-pagination ng-if="gridOptionsOperByDeath24top" class="ui-grid-400"></div>
    <div class="noData" ng-if="!gridOptionsOperByDeath24top">暂无数据</div>

	<div class="text-right" style="padding:10px 0;">
	    <button class="btn btn-primary" type="button" ng-click="export('gridApiOperByDeath24');">导&nbsp;&nbsp;出</button>
	</div>

    <div ui-grid="gridOptionsOperByDeath24" ui-grid-auto-resize ui-grid-exporter ui-grid-pagination ng-if="gridOptionsOperByDeath24" class="ui-grid-400"></div>
    <div class="noData" ng-if="!gridOptionsOperByDeath24">暂无数据</div>
</div>