
<!-- <div   flex> -->

<div class="modal-header">
    <h4><span>编辑表达式</span><span class="pull-right modal-container_close" ng-click="cancel()">✖</span></h4>
</div>
<!-- <div ng-include="'./app/page/sysManage/configmanage/timingtask/cron/index.htm'"></div> -->
<iframe src="./app/page/sysManage/configmanage/timingtask/cron/index.htm" style="width: 100%;height: 580px;border: 0" scrolling="no" ></iframe>










<div class="modal-footer">
    <button class="btn btn-primary" ng-click="btnActive && saveOperationRoom()">保&nbsp;&nbsp;存</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取&nbsp;&nbsp;消</button>
</div>
<!-- </div> -->