<div flex style=" margin-top: 15px;">
    <div layout layout-wrap="wrap">
        <div flex="5" class="text-center" style="margin: 5px 10px 0 10px;">类型</div>
        <select flex="10" ng-model="type" class="form-control" >
            <option value="1">自定义</option>
            <option value="2">月度</option>
        </select>
        <span ng-show="type=='1'" style="display: flex;">           
        <div flex="5" class="text-center" style="margin: 5px 10px 0 10px;">从</div>
        <input datetimepicker=""   flex="40"  dateID="date-start-time1" ng-model="startTime" timepicker="false" format="Y-m-d" class="form-control" required ng-value="startTime"></input>        
        <div  flex="5"   class="text-center" style="margin: 5px 10px 0 10px;">到</div>
        <input datetimepicker=""  flex="40"  dateID="date-end-time2" ng-model="endTime" timepicker="false" format="Y-m-d" class="form-control" required ng-value="endTime"></input> 
        </span>
        <div flex="5" ng-if="type=='2'" class="text-center" style="margin: 5px 10px 0 10px;">年份</div>
        <span ng-show="type=='2'" style="display: flex;"><select flex="100" style="width: 60px;" ng-model="pmoth" class="form-control" ><option ng-repeat="yy in years" value="{{yy}}">{{yy}}</option></select>     </span>
        <button class="btn btn-primary pull-right" type="button" ng-click="query()">查&nbsp;&nbsp;询</button>
    </div>
    <div layout layout-wrap="wrap">
        <div flex="65" style="border: solid 2px #ccc;margin-top: 18px;">
            <div e-chart class="echarts" style="min-height: 350px;" e-config="eConfig1" e-option="eOptionva"></div>
        </div>
        <div flex="35">
            <div e-chart class="echarts" style="min-height: 350px;" e-config="eConfig2" e-option="optionPie"></div>
        </div>
    </div>
    <br/>
    <div flex style="height: 40px;">
        <span><b style="line-height: 40px;">报损</b></span>
        <button ng-if="permission.indexOf('ADD') >= 0" class="btn btn-primary pull-right" type="button" ng-click="EXCEL()">导出EXCEL</button>
        <button ng-if="permission.indexOf('ADD') >= 0" class="btn btn-primary pull-right" type="button" ng-click="addInput(3);" 　　 style=" margin-right: 10px;">新增报损</button>
    </div>
    <div ui-grid="gridOptions" style="height: 450px;" ui-grid-exporter ui-grid-auto-resize ui-grid-pagination ng-if="gridOptions.data"></div>
    <div class="noData" ng-if="!gridOptions.data">暂无数据</div>
</div>