<div id="statQuery" layout="column" flex>
	<form role="form" class="navbar-btn btn-xs text-right c-el-10">
		<div layout class="col-md-2">
	    <label class="radio-inline">
	        <input ng-model="queryObj.timeType" type="radio" name="sex" value="1">月报</input>
	    </label>
	    <select flex class="form-control" ng-model="queryObj.timeRange1">
	        <option value="0">当前月</option>
	        <option value="1">最近1月</option>
	        <option value="2">最近2月</option>
	    </select>
	    </div>
	    <div layout class="col-md-2">
	    <label class="radio-inline">
	        <input ng-model="queryObj.timeType" type="radio" name="sex" value="2">季报</input>
	    </label>
	    <select flex class="form-control"  ng-model="queryObj.timeRange2">
	        <option value="0">当前季度</option>
	        <option value="1">最近1季度</option>
	        <option value="2">最近2季度</option>
	        <option value="3">最近3季度</option>
	    </select>
	    </div>
	    <div layout class="col-md-2">
	    <label class="radio-inline">
	        <input ng-model="queryObj.timeType" type="radio" name="sex" value="3">年报</input>
	    </label>
	    <select flex class="form-control"  ng-model="queryObj.timeRange3">
	        <option value="0">当前年</option>
	        <option value="1">最近1年</option>
	        <option value="2">最近2年</option>
	    </select>
	    </div>
        <div layout class="col-md-4">
        <label class="radio-inline">
            <input ng-model="queryObj.timeType" type="radio" name="sex" value="4">日期范围</input>
        </label>
        <div>
        	<input datetimepicker="" flex dateID="date-start-time" ng-model="queryObj.startTime" timepicker="false" format="Y-m-d" class="form-control" style="width: 100px;" required></input>
    	</div>
        <div style="margin: 5px 10px 0 10px;"><span>到</span></div>
        <div>
        	<input datetimepicker="" flex dateID="date-end-time" ng-model="queryObj.endTime" timepicker="false" format="Y-m-d" class="form-control" style="width: 100px;" required></input>
        </div>
        </div>
        <div layout class="col-md-1">
            <button class="btn btn-primary pull-right" type="button" ng-click="query();">查&nbsp;&nbsp;询</button>
        </div>
	</form>
	<form role="form" class="from-horizontal bottom-form">
		<div layout class="col-md-2" ng-if="$state.current.name==='statEasyPainTreat' || $state.current.name==='statAnaesthesiaLevelCases' || $state.current.name==='statCPRCases'">
		<label class="radio-inline">
		    手术室
		</label>
		<select flex class="form-control"  ng-model="queryObj.operRoomId">
			<option value="">全部</option>
			<option ng-repeat="item in operroomList" value="{{item.operRoomId}}">{{item.name}}</option>
		</select>
		</div>
		<div layout class="col-md-2" ng-if="$state.current.name==='statEasyPain' || $state.current.name==='statToRecoverRoom' || $state.current.name==='statAccidentDeath'">
		<label class="radio-inline">
		    <input ng-if="$state.current.name==='statEasyPain'" ng-model="queryObj.countType" type="radio" name="countType" value="1"></input>
		    科室
		</label>
		<select flex class="form-control"  ng-model="queryObj.deptId">
			<option value="">全部</option>
			<option ng-repeat="item in deptList" value="{{item.deptId}}">{{item.name}}</option>
		</select>
		</div>
		<div layout class="col-md-2" ng-if="$state.current.name==='statEasyPain' || $state.current.name==='statAccidentDeath' || $state.current.name==='statEasyPainTreat' || $state.current.name==='statCPRCases'">
		<label class="radio-inline">
		    <input ng-if="$state.current.name==='statEasyPain'" ng-model="queryObj.countType" type="radio" name="countType" value="2"></input>
		    麻醉医师
		</label>
		<oi-select class="oi-operator" oi-options="i.userName as i.name for i in anaesthetistList | limitTo: 100" ng-model="queryObj.anesthetistId" oi-select-options="{
		     listFilter: 'oiSelectAscSort:[\'userName\', \'name\']',cleanModel: true
		 }"  ></oi-select>
		</div>
		<div layout class="col-md-2" ng-if="$state.current.name==='statOperCasesWithOperator'">
		<label class="radio-inline">
		    手术医师
		</label>
		<oi-select class="oi-operator" oi-options="i.operatorId as i.name for i in operatorList | limitTo: 100" ng-model="queryObj.operatorId" oi-select-options="{
		     listFilter: 'oiSelectAscSort:[\'username\', \'name\']',cleanModel: true
		 }"  ></oi-select>
		</div>
		<div layout class="col-md-2" ng-if="$state.current.name==='statCasesWithNurse'">
		<label class="radio-inline">
		    护士
		</label>
		<oi-select class="oi-operator" oi-options="i.userName as i.name for i in nurseList | limitTo: 100" ng-model="queryObj.nurseId" oi-select-options="{
		     listFilter: 'oiSelectAscSort:[\'userName\', \'name\']',cleanModel: true
		 }"   ></oi-select>
		</div>
	</form>
	<div class="nav-div_container">
	    <ul class="nav nav-tabs doc-nav">
	        <li ng-class="{true: 'active'}[tabIndex == 0]" ng-click="switchTab(0);"><a>详细数据</a></li>        
	         <li ng-if="$state.current.name!='statBeforeAfterDiff' && $state.current.name!='statEasyPain' && $state.current.name!='statToRecoverRoom' && $state.current.name!='statAccidentDeath' && $state.current.name!='statModifyHistory'" ng-class="{true: 'active'}[tabIndex == 1]" ng-click="switchTab(1);"><a>图形数据</a></li>
	    </ul>
	</div>
	<section flex layout ui-view class="view-container"></section>
</div>