<div flex ng-show="!edit">
    <div layout layout-align="end center" class="navbar-btn btn-xs text-right c-el-10">
        <button class="btn btn-primary" ng-click="editInstrsuitlist()">
            添加手术包
        </button>
        <button class="btn btn-primary" ng-click="refresh()">
            刷&nbsp;&nbsp;新
        </button>
    </div>
    <div ui-grid="gridInstrsuitlist" ui-grid-pagination ui-grid-auto-resize></div>
</div>
<div flex ng-show="edit">
	<form name="instrsuitlist" class="form-horizontal" novalidate>
		<h2 style="margin: 20px 0 30px 0;">{{lable}}</h2>
		<div layout>
	    	<div flex class="input-wrap">
	            <div layout layout-align="start center" class="input-group">
	                <label class="tit"><em>*</em>手术包名称</label>
	                <input flex type="text" name="name" class="form-control" ng-model="Instrsuitlist.name" ng-maxlength="20" ng-blur="_name = true" required>
	            </div>
	            <p ng-if="!Instrsuitlist.name && (_name || verify == false)" class="help-block text-right">手术包名称不能为空</p>
	            <p ng-if="instrsuitlist.name.$error.maxlength && _name" class="help-block text-right">长度不能超过20个字符</p>
	        </div>
	    	<div flex class="input-wrap">
	    		<div layout layout-align="start center" class="input-group">
	                <label class="tit"><em>*</em>是否有效</label>
	                <select flex name="enable" class="form-control" ng-model="Instrsuitlist.enable" ng-blur="_enable = true" required>
	                    <option ng-value="1">启用</option>
	                    <option ng-value="0">禁用</option>
	                </select>
	            </div>
	            <p ng-if="(Instrsuitlist.enable == undefined) && (_enable || verify == false)" class="help-block text-right">状态不能为空</p>
	    	</div>
	    	<div flex class="input-wrap">
	    		<div layout layout-align="start center" class="input-group">
	                <label class="tit"><em>*</em>价格</label>
	                <input type="number" flex name="price" class="form-control" ng-model="Instrsuitlist.price" min="0" ng-blur="_price = true" required>
	            </div>
	            <p ng-if="(Instrsuitlist.price == undefined) && (_price || verify == false)" class="help-block text-right">价格不能为空</p>
	    	</div>
	    </div>
	    <div layout flex>
			<div style="width: 50%;">
			    <div layout layout-align="end center" class="navbar-btn btn-xs text-right c-el-10">
			    	<button class="btn btn-primary" type="button" ng-click="openinstr('qx')">添加器械</button>
			    </div>
		   		<div ui-grid="gridInstrsuitQx" ui-grid-auto-resize style="height: 570px;"></div>
		    </div>&nbsp;
			<div style="width: 50%;">
			    <div layout layout-align="end center" class="navbar-btn btn-xs text-right c-el-10">
			    	<button class="btn btn-primary" type="button" ng-click="openinstr('fl')">添加敷料</button>
			    </div>
		   		<div ui-grid="gridInstrsuitFl" ui-grid-auto-resize style="height: 570px;"></div>
		    </div>
	    </div>
	    <div layout layout-align="end center" class="navbar-btn btn-xs text-right c-el-10">
	    	<button class="btn btn-primary" ng-click="btnActive && saveInstrsuitlist()">保&nbsp;&nbsp;存</button>
	        <button class="btn btn-primary" type="button" ng-click="cancel()">取&nbsp;&nbsp;消</button>	
	    </div>
	</form>
</div>