<div flex id="schedule">
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pinning ui-grid-pagination  ui-grid-resize-columns ng-if="gridOptions.paginationState" class="ui-grid-729"></div>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pinning ui-grid-pagination ui-grid-resize-columns ng-if="!gridOptions.paginationState" class="ui-grid-729"></div>
    
    <div flex style="display: none;">
        <div id="list-scan">
            <div layout="column" layout-align="center center">
                <div ng-if="!docUrl">
                    <h3>{{docInfo.beName}}</h3>
                    <h4 ng-if='docInfo.subName'>{{docInfo.subName}}</h4>
                </div>
                <img ng-if="docUrl" src="/app/img/{{docUrl}}" class="doctitle-icon">
                <h4>手术安排表</h4>
                <h5>{{queryObj.operDate}}</h5>
            </div>
            <table class="table table-bordered">
                <thead>
                    <td style="width: 90px;">手术室</td>
                    <td style="width: 40px;">台次</td>
                    <td style="min-width: 100px;">科室</td>
                    <td style="width: 50px;">床号</td>
                    <td style="width: 60px;">姓名</td>
                    <td style="width: 45px;">住院号</td>
                    <td style="width: 40px;">性别</td>
                    <td style="width: 45px;">年龄</td>
                    <td style="min-width: 62px;">手术名称</td>
                    <td style="min-width: 100px;">手术医生</td>
                    <td style="min-width: 62px;">麻醉方法</td>
                    <td style="min-width: 62px;">麻醉医生</td>
                    <td style="min-width: 62px;" ng-if="docInfo.roleType === 'NURSE' || docInfo.roleType === 'HEAD_NURSE'">洗手护士</td>
                    <td style="min-width: 62px;" ng-if="docInfo.roleType === 'NURSE' || docInfo.roleType === 'HEAD_NURSE'">巡回护士</td>
                    <td style="width: 62px;">手术等级</td>
                    <td style="width: 62px;">切口等级</td>
                </thead>
                <tbody>
                    <tr ng-repeat="item in gridOptions.data">
                        <td>
                            <div>{{item.operRoomName}}</div>
                        </td>
                        <td>
                            <div>{{item.pcs}}</div>
                        </td>
                        <td>
                            <div>{{item.deptName}}</div>
                        </td>
                        <td>
                            <div>{{item.bed}}</div>
                        </td>
                        <td>
                            <div>{{item.regOptName}}</div>
                        </td>
                        <td>
                            <div>{{item.hid}}</div>
                        </td>
                        <td>
                            <div>{{item.sex}}</div>
                        </td>
                        <td>
                            <div>{{item.age}}</div>
                        </td>
                        <td>
                            <div class="text-left desig-name">{{item.designedOptName}}</div>
                        </td>
                        <td>
                            <div class="desig-name">{{item.operatorName}}</div>
                        </td>
                        <td>
                            <div class="desig-name">{{item.designedAnaesMethodName}}</div>
                        </td>
                        <td>
                            <div>{{item.anesthetistName}}</div>
                        </td>
                        <td ng-if="docInfo.roleType === 'NURSE' || docInfo.roleType === 'HEAD_NURSE'">
                            <div>{{item.instrnurseName1}}</div>
                        </td>
                        <td ng-if="docInfo.roleType === 'NURSE' || docInfo.roleType === 'HEAD_NURSE'">
                            <div><span>{{item.circunurseName}}</span><span>{{item.circunurseName1}}</span></div>
                        </td>
                        <td>
                            <div>{{item.optLevel}}</div>
                        </td>
                        <td>
                            <div>{{item.cutLevelName}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="card-scan">
            <div layout="column" layout-align="center center">
                <div ng-if="!docUrl">
                    <h3>{{docInfo.beName}}</h3>
                    <h4 ng-if='docInfo.subName'>{{docInfo.subName}}</h4>
                </div>
                <img ng-if="docUrl" src="/app/img/{{docUrl}}" class="doctitle-icon">
                <h4>手术安排表</h4>
                <h5>{{queryObj.operDate}}</h5>
            </div>
            <table class="table table-bordered" ng-repeat="item in gridOptions.data">
                <tr>
                    <td>手术间：{{item.operRoomName}}</td>
                    <td>科室：{{item.deptName}}</td>
                    <td>床号：{{item.bed}}</td>
                    <td>姓名：{{item.regOptName}}</td>
                    <td>性别：{{item.sex}}</td>
                    <td>年龄：{{item.age}}</td>
                </tr>
                <tr>
                    <td colspan="2">手术日期：{{item.operaDate}}</td>
                    <td colspan="2">住院号：{{item.hid}}</td>
                    <td colspan="2">手术医生：{{item.operatorName}}</td>
                </tr>
                <tr>
                    <td colspan="6">手术名称：{{item.designedOptName}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>