<div flex>
	<div layout flex style="height:305px;margin-bottom:10px;border:1px solid #ccc">
	    <div layout="column" flex="40">
	        <!-- <div class="pie" style="animation-delay: -20s;">　</div> -->
	        <!-- <canvas id="pie" class="chart chart-pie chart-xs" chart-data="{{[20, 80]}}" chart-labels="{{['2x', '8x']}}"></canvas> -->
	        <div e-chart class="echarts" e-config="eConfig" e-option="eOption"></div>
	    </div>
	    <div layout="column" flex="60">
	        <div style="margin-top:40px;padding-left: 85px;"><i class="glyphicon glyphicon-asterisk"></i> 说明:非计划二次气管插管是指在患者术后气管插管拔除后6小时内，非计划再次行气管插管术。非计划二次气管插管率，是指非计划二次气管插管患者数占同期术后气管插管拔除患者总数的比例。
	        </div>
	        <div  style="margin-top:20px;">
	        <div layout flex>
	            <div layout="column" layout-align="center end" flex="25">
	                <span style="padding-top:2px;white-space:nowrap;">非计划二次气管插管率 &nbsp;&nbsp;=</span>
	            </div>
	            <div layout="column" layout-align="center center"  flex="35">
		            <div layout="column">
		                <div  style="white-space:nowrap;">
		                    非计划二次气管插管患者数（{{AnesSecondIntubatRate.secondIntubatTotal}}）
		                </div>
		                <div>
		                    <hr style="height:1px;background-color:#777;">
		                </div>
		                <div  style="white-space:nowrap;">
		                    同期术后气管插管拔除患者总数（{{AnesSecondIntubatRate.extubatTotal}}）
		                </div>
	                </div>
	            </div>
	            <div layout="column" layout-align="center start" flex="10">
	                <span style="white-space:nowrap;"> &nbsp;&nbsp;x 100% &nbsp;&nbsp; = &nbsp;&nbsp;{{AnesSecondIntubatRate.rate}}%</span>
	            </div>
	        </div>
	        </div>
	    </div>	    
	</div>

	<div class="text-right" style="padding:10px 0;">
	    <button class="btn btn-primary" type="button" ng-click="export('gridApiAnesSecondIntubatRatetop');">导&nbsp;&nbsp;出</button>
	</div>

    <div ui-grid="gridOptionsAnesSecondIntubatRatetop" ui-grid-auto-resize ui-grid-exporter ui-grid-pagination ng-if="gridOptionsAnesSecondIntubatRatetop" class="ui-grid-400"></div>
    <div class="noData" ng-if="!gridOptionsAnesSecondIntubatRatetop">暂无数据</div>

	<div class="text-right" style="padding:10px 0;">
	    <button class="btn btn-primary" type="button" ng-click="export('gridApiAnesSecondIntubatRate');">导&nbsp;&nbsp;出</button>
	</div>

    <div ui-grid="gridOptionsAnesSecondIntubatRate" ui-grid-auto-resize ui-grid-exporter ui-grid-pagination ng-if="gridOptionsAnesSecondIntubatRate" class="ui-grid-400"></div>
    <div class="noData" ng-if="!gridOptionsAnesSecondIntubatRate">暂无数据</div>
</div>