<div class="modal-header">    
    <h4><span>{{vm.title}}</span><span class="pull-right modal-container_close" ng-click="vm.close()">✖</span></h4>
</div>
<div flex layout="column" id="oper">
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination ng-if="gridOptions" style="height: 260px;"></div>
    <form class="panel panel-default" role="form" name="BaseInfoForm" novalidate>
        <div class="wrap" layout layout-wrap="wrap" style="padding-left: 60px;">
            <div flex="90" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>耗材名称</label>
                     <input flex ng-model="medicalParams.instrumentName" readonly>
                </div>                 
            </div>
           <!--  <div flex="45" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit">厂家名称</label>
                    <input flex ng-model="medicalParams.firm" readonly>
                </div>                
            </div>
            <div flex="45" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit">耗材规格</label>
                    <input flex ng-model="medicalParams.spec" readonly>
                </div>
            </div> -->
            <div flex="45" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>耗材批号</label>
                    <input flex type="text" name="batch" class="form-control" ng-model="medicalParams.batch"  readonly>
                </div>                
            </div>
            <div flex="45" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>退耗材数量</label>
                    <input flex type="number" min="1" name="retreatNumber" class="form-control" ng-model="medicalParams.retreatNumber" ng-blur="_retreatNumber = true" required>支
                </div>
                <p ng-if="(medicalParams.retreatNumber == undefined) && (_retreatNumber || verify == false)" class="help-block text-right">退耗材数量不能为空</p>
            </div>
            <div flex="45" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>经办人</label>
                    <input flex type="text" name="operator" class="form-control" ng-model="medicalParams.operator" disabled>
                </div>
            </div>
            <div flex="45" class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>退耗材人</label>
                    <oi-select flex name="retreatName" oi-options="item.name as item.name for item in operaList | limitTo: 100" oi-select-options="{ listFilter: 'oiSelectAscSort:[\'pinYin\']' }" ng-model="medicalParams.retreatName" ng-blur="_retreatName = true" required>
                    </oi-select>
                    <p ng-if="(medicalParams.retreatName == undefined) && (_retreatName || verify == false)" class="help-block text-right">退耗材人不能为空</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="btnActive && save('1')">保存</button>
            <button class="btn btn-default" type="button" ng-click="vm.close()">关闭</button>
        </div>
    </form>
</div>