<div class="modal-header">
    <h4>
        <span>用户验证</span>
        <span class="pull-right modal-container_close" ng-click="cancel()">✖</span>
    </h4>
</div>
<form name="form" novalidate class="auth-user">
    <div class="modal-body">
        <div class="input-wrap">
            <div class="input-group">
                <div class="input-group-addon glyphicon glyphicon-user"></div>
                <input type="text" name="userName" class="form-control" ng-model="userInfo.username" maxlength="18" placeholder="请输入用户帐号" required>
            </div>
            <p ng-show="errName" class="help-block text-right">{{errName}}</p>
        </div>
        <div class="input-wrap">
            <div class="input-group">
                <div class="input-group-addon glyphicon glyphicon-lock"></div>
                <input type="password" name="userPwd" class="form-control" ng-model="userInfo.password" maxlength="18" placeholder="请输入密码" required>
            </div>
            <p ng-show="errPwd" class="help-block text-right">{{errPwd}}</p>
        </div>
        <button class="btn btn-primary btn-lg btn-block" ng-click="ok(userInfo)">验&nbsp;&nbsp;证</button>
    </div>
</form>
