<!-- 加载中 -->
<div class="print-progress">
    <progressbar></progressbar>
</div>
<div id="doc-all">
    <!-- 文书 -->
    <pre-visit-log-htyy ng-if="doc_pre_visit"></pre-visit-log-htyy>
    <access-log ng-if="doc_pre_post_visit"></access-log>
    <risk-asse-nhyy-log ng-if="doc_braden_evaluate"></risk-asse-nhyy-log>
    <anes-program ng-if="doc_anaes_plan"></anes-program>
    <info-cons-htyy ng-if="doc_accede"></info-cons-htyy>
    <shut-tran-htyy-log ng-if="doc_anaes_pre_discuss_record"></shut-tran-htyy-log>
    <over-medi-log ng-if="doc_pat_out_range_agree"></over-medi-log>
    <nurs-record-htyy-log ng-if="doc_opt_care_record"></nurs-record-htyy-log>
    <check-record-htyy-log ng-if="doc_opt_nurse"></check-record-htyy-log>
    <safety-verif-log ng-if="doc_safe_check"></safety-verif-log> <!-- 安全核查单 -->
    <asse-visit-form-log ng-if="doc_pat_previsit_record"></asse-visit-form-log>
    <asse-visit-form-list-log ng-if="doc_pat_previsit_record"></asse-visit-form-list-log>
    
    <anesthesia-summary-htyy ng-if="doc_anaes_summary"></anesthesia-summary-htyy>
    <htyy-anes-record-log ng-if="doc_anaes_record"></htyy-anes-record-log>   <!-- 麻醉记录单 -->
    <vein-accede ng-if="doc_vein_accede"></vein-accede>
    <anaes-method-change ng-if="doc_anaes_method_change_record"></anaes-method-change>
    <self-pay-instrument ng-if="doc_self_pay_instrument_accede"></self-pay-instrument>
     <!-- <doc-anaes-pacu-rec ng-if="doc_anaes_pacu_rec"></doc-anaes-pacu-rec> -->
    <doc-anaes-pacu-rec-htyy ng-if="doc_anaes_pacu_rec"></doc-anaes-pacu-rec-htyy>
    <post-visit-log-htyy ng-if="doc_post_follow_record"></post-visit-log-htyy>
</div>
