<div class="modal-header">    
    <h4><span>{{lable}}</span><span class="pull-right modal-container_close" ng-click="cancel()">✖</span></h4>
</div>
<form name="chargePackagesDict" class="form-horizontal" novalidate>
	<div class="modal-body">
        <div layout>
	    	<div flex class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>收费项目包<br>名称</label>
                    <input flex type="text" name="chargePackagesName" class="form-control" ng-model="chargePackages.chargePackagesName" ng-blur="_chargePackagesName = true" required>
                </div>
                <p ng-if="chargePackagesDict.chargePackagesName.$error.required && _chargePackagesName" class="help-block text-right">不能为空</p>
            </div>
        </div>
        <div layout>
            <div flex class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>是否有效</label>
                    <select flex name="enable" class="form-control" ng-model="chargePackages.enable" ng-blur="_enable = true" required>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <p ng-if="chargePackagesDict.enable.$error.required && _enable" class="help-block text-right">不能为空</p>
            </div>
        </div>
        <div layout>
            <div flex class="input-wrap">
                <div layout layout-align="start center" class="input-group">
                    <label class="tit"><em>*</em>类型</label>
                    <input flex type="text" name="type" class="form-control" ng-model="chargePackages.type" ng-maxlength="10" ng-blur="_type = true" required>
                </div>
                <p ng-if="chargePackagesDict.type.$error.required && _type" class="help-block text-right">不能为空</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" ng-disabled="chargePackagesDict.$invalid" type="button" ng-click="save()">保&nbsp;&nbsp;存</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">取&nbsp;&nbsp;消</button>
    </div>
</form>
