<div class="navbar-btn btn-xs text-right c-el-10">
    <button class="btn btn-primary" ng-repeat="item in btnsMenu" ui-sref="{{item.url}}" ng-if="item.name !== '开始手术'">{{item.name}}</button>
    <button class="btn btn-primary" ng-click="inOperSet()">术中配置</button>
</div>
<div flex layout="column" id="operRoom">
    <div flex>
        <div flex layout layout-wrap='wrap' style='margin: -5px -5px 0 -5px;'>
            <div flex=20 ng-repeat="item in dataList" style="padding: 5px;">
                <div layout style="background-color: #f9f9f9; padding: 5px; border: 1px solid #ddd;">
                    <strong style="font-size: 20px; margin-right: 15px;" ng-class="{true: 'md-red'}[item.emergency == 1]">{{item.emergency == 1 ? '急诊' : '择期'}}</strong>
                    <div ng-if="item.name">
                        <div style='margin-bottom: 8px; min-height: 21px;' layout>
                            <span style="display: inline-block; width: 80px;">{{item.name}}</span>
                            <span>{{item.deptName}}</span>
                        </div>
                        <div style='margin-bottom: 8px; min-height: 21px;' layout>
                            <span style="display: inline-block; width: 80px;">{{item.sex}}</span>
                            <span style="margin-right: 20px;">{{item.age}}</span>
                            <span>{{item.hid}}</span>
                        </div>
                        <div style='margin-bottom: 8px; min-height: 21px;'>手术日期：{{item.operaDate}}</div>
                        <div style='margin-bottom: 8px; min-height: 21px;'>麻醉方式：{{item.designedAnaesMethodName}}</div>
                        <div style='margin-bottom: 8px; min-height: 21px;'>麻醉医生：{{item.anesthetistName}}</div>
                        <div style='margin-bottom: 8px; min-height: 21px;'>巡回护士：{{item.circunurseName1}}</div>
                    </div>
                    <div ng-if="!item.name">空   闲</div>
                </div>
                <div layout layout-align='space-between center' style="background-color: #f9f9f9; padding: 5px; border: 1px solid #ddd; margin-top: -1px;">
                    <strong style="color: #a94442;">状态：{{item.stateName}}</strong>
                    <div layout layout-align="end center">
                        <button class="btn btn-primary" ng-if="btn.url!=='operEmergency'" ng-repeat="btn in btnsMenu" ng-click='ok(item, btn.url)'>{{item.state === '04' ? '继续手术' : btn.name}}</button>
                        <button class="btn btn-default ml-15" ng-click='cancel(item)' ng-if="item.state === '03'">取消手术</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default list">
        <div class="panel-heading" layout layout-align="start center">
            <span>今日手术</span>
            <div style="margin-left: 40px; margin-right: 40px;">
                <checkbox style='margin-left: 15px;' ng-model="query.state" ng-true-value="'03'" ng-false-value="''" ng-change='stateChange()'>术前</checkbox>
                <checkbox style='margin-left: 15px;' ng-model="query.state" ng-true-value="'04'" ng-false-value="''" ng-change='stateChange()'>术中</checkbox>
                <checkbox style='margin-left: 15px;' ng-model="query.state" ng-true-value="'06'" ng-false-value="''" ng-change='stateChange()'>术后</checkbox>
            </div>
            <div>
                <span style="margin-right: 10px;">姓名：<input style=" width: 110px;" type="text" name="name" ng-model="query.name" ng-change="stateChange()"></span>
                <span>住院号：<input style=" width: 110px;" type="text" name="name" ng-model="query.hid" ng-change="stateChange()"></span>
            </div>
        </div>
        <div class="panel-body">
            <div ui-grid="gridOptions" ui-grid-auto-resize style="height: 100%;" ng-if="gridOptions"></div>
            <div class="noData" ng-if="!gridOptions.data">暂无数据</div>
        </div>
    </div>
</div>